<!-- #Esto es naa mas para pruebas -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Format</title>
</head>
<body>
    
    <h1>Test Format</h1>

    <form action="format/upload" method="POST">
        Ingrese id:
        <input type="text" name="id_format" size="30"><br>
        Ingrese alto:
        <input type="number" name="alto" min="1" ><br>
        Ingrese largo:
        <input type="number" name="largo" min="1" ><br>
        Ingrese ancho:
        <input type="number" name="ancho" min="1" ><br>
        Ingrese path:
        <input type="text" name="path" size="30"><br>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>